<!-- NG-ZORRO -->
<nz-layout>
  <nz-content>
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzSpan="15">
        <div id="left_panel"></div>
      </div>
      <div nz-col nzSpan="9">
        <div id="right_panel">
          <img src="../assets/TAEKWONDO ORGANISER LOGO.svg" alt="logo" id="logo">
          <section class="login_panel">
            <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Username!">
                  <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="userName" placeholder="Username" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                  <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Password" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your E-mail!">
                  <nz-input-group nzPrefixIcon="mail">
                    <input type="text" nz-input formControlName="email" placeholder="E-mail" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <label nz-checkbox formControlName="remember">
                    <span style="color:white">Remember this computer</span>
                    <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
                    <a class="login-form-forgot" class="login-form-forgot">New E-mail</a>
                    <br />
                    <br />
                    <button nz-button class="login-form-button" [nzType]="'default'" nz-popconfirm
                      nzTitle="Are you sure? You have only 3 attempts a day, and you can only enter 3 times a day."
                      (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()" nzOkText="enter" nzCancelText="cancel"
                      nzPlacement="bottom" nz-button>Log in</button>
                  </label>
                </nz-form-control>
              </nz-form-item>
            </form>
          </section>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout>
